@inherits LayoutComponentBase

<div class="auth-layout">
    <div class="auth-container">
        <div class="auth-logo">
            <img src="logos/acs_logo.svg" alt="ACS Logo" class="auth-logo-img" />
        </div>
        @Body
    </div>
</div>

<ThemeToggle />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
